.App {
  text-align: center;
}

.drum-pad {
    height: 200px;
    width: 300px;
    background: #0094ff;
    border: 5px outset #00ffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    color: white;
}

drum-pad:active {
    border-style: inset;
}

.drum-pad p {
    height: 20px;
    background-color: rgba(192, 43, 43, 0.5);
}

.drum-pad:active p {
    background-color: rgb(192, 43, 43);
}

.drum-pad-row {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}



/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
